body {
    font-family: "Roboto", sans-serif;
}


.container-wrapper {

}

.container-wrapper--f {
    background-color: #25527f;
    color: white;
}
.alert-container {

}

.callout-container {
    height: 100vh;
   
    background: url("../images/pexels-fauxels-3183197.jpg") no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
      
}

.callout1-container {
    height: 93vh;
   
    background: url("../images/benefits1.jpg") no-repeat left center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
}

.callout2-container {
    height: 93vh;
   
    background: url("../images/resources.jpg") no-repeat left center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
}
.callout3-container {
    height: 93vh;
   
    background: url("../images/pexels-tiger-lily-7108697.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.quotes-container {

}

.features-container {

}

/* Form */
#signup {
    background-image: url("../images/pexels-tiger-lily-7108697.jpg");
    background-size: cover;
    background-position: 100%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}
#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 35px;
}
#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 5px;
}
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}
.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}

/*Page headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
    margin-bottom: 3rem;
}

/* Block dividers */

.block-divider {
    width: 365px;
    height: 5px;
    background-color: #25527f;
    opacity: .65;
}

/* Content containers */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}
/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.08);
    color:rgba(0, 0, 0, 0.5)
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: normal;
    color: #25527f;
}

.navbar .navbar-nav a {
    font-weight: bold;
}
/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    
}

.jumbotron-header1 {
    color: #25527f;
    font-weight:;
    margin-bottom: 15;
}

.jumbotron .lead {
    color: white;
    margin: 20px 0;
   
    display: flex;
    justify-content: start;
    align-items: center;
    
}



