body {
    font-family: "Roboto", sans-serif;
}


.container-wrapper {

}

.container-wrapper--f {
    background-color: #25527f;
    color: white;
}
.alert-container {

}

.callout-container {
    height: 100vh;
   
    background: url("../images/pexels-fauxels-3183197.jpg") no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
      
}

.callout1-container {
    height: 93vh;
   
    background: url("../images/benefits.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.quotes-container {

}

.features-container {

}

/*Page headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
    margin-bottom: 3rem;
}

/* Block dividers */

.block-divider {
    width: 365px;
    height: 5px;
    background-color: #25527f;
    opacity: .65;
}

/* Content containers */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}
/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.08);
    color:rgba(0, 0, 0, 0.5)
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: normal;
    color: #25527f;
}

.navbar .navbar-nav a {
    font-weight: bold;
}
/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    
}

.jumbotron-header1 {
    color: #25527f;
    font-weight:;
    margin-bottom: 15;
}

.jumbotron .lead {
    color: white;
    margin: 20px 0;
   
    display: flex;
    justify-content: start;
    align-items: center;
    
}
